@import "gruvbox-light.css";

[data-theme=gruvbox-light-medium], .app-theme-picker__picker[data-theme=gruvbox-light-medium] {
  --gruvbox-background: #fbf1c7;
  --gruvbox-primary: #3c3836;
  --gruvbox-secondary: #504945;
}
