@import "gruvbox-light.css";

[data-theme=gruvbox-light-soft], .app-theme-picker__picker[data-theme=gruvbox-light-soft] {
  --gruvbox-background: #f2e5bc;
  --gruvbox-primary: #504945;
  --gruvbox-secondary: #665c54;
}
