@import "gruvbox-dark.css";

[data-theme=gruvbox-dark-medium], .app-theme-picker__picker[data-theme=gruvbox-dark-medium] {
  --gruvbox-background: #282828;
  --gruvbox-primary: #ebdbb2;
  --gruvbox-secondary: #d5c4a1;
}
