@import "gruvbox-dark.css";

[data-theme=gruvbox-dark-soft], .app-theme-picker__picker[data-theme=gruvbox-dark-soft] {
  --gruvbox-background: #32302f;
  --gruvbox-primary: #d5c4a1;
  --gruvbox-secondary: #bdae93;
}
