@import "gruvbox-light.css";

[data-theme=gruvbox-light-hard], .app-theme-picker__picker[data-theme=gruvbox-light-hard] {
  --gruvbox-background: #f9f5d7;
  --gruvbox-primary: #3c3836;
  --gruvbox-secondary: #504945;

}
