@import "gruvbox-dark.css";

[data-theme=gruvbox-dark-hard], .app-theme-picker__picker[data-theme=gruvbox-dark-hard] {
  --gruvbox-background: #1d2021;
  --gruvbox-primary: #fbf1c7;
  --gruvbox-secondary: #ebdbb2;
}